body {
  background-size: auto;
  border: none;
  background: url(background-black.png) !important;
  text-align: center;
}

h1 {
  color: rgb(206, 206, 206);
  text-align: center;
}

.chapters img {
  display: block;
  margin: 5px auto 0;
  margin-top: 5px;
  width: 75%;
  height: auto;
}

img {
  display: block;
}

.logo img {
  display: block;
  width: 25em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-warning{
  width: 25%;
}
.top-buttons {
  text-align: center;
  width: 100%;
}

.btn {
  width: 49%;
  display: inline-block;
}